* {
    margin: 0px;
    padding: 0px;
}

nav {
    padding: 10px;
}

nav ul {
    margin: 0px;
    padding: 0px;
}

li.main-nav {
    display: inline-block;
    list-style: none;
    width: 60px;
    text-align: center;
}

li#main-nav-logo {
    width: fit-content;
    padding: 5px;
}

h1 {
    margin-left: 0px;
    padding-left: 0px;
}

a {
    text-decoration: none;
}